@media screen and (max-width: 576px) {
    
  
    .nav_container{
        flex-direction: column;
        justify-content: center;
        width: 100%;
    
    }
    .menus{
        flex-direction: column;
    }
    .logo{
        margin-top: 20px;
    }
    .logo img{
        width: 15%;
    }
    .btn_primary{
        width: 100%;
    }

    .banner{
        margin-top: 10px;
    }
    .banner_container{
        flex-direction: column;
       
    }
    .banner_left,.banner_right{
        width: 100%;
        padding: 0px;
        margin-top: 20px;
    }

    .products{

        display: grid; 
        padding: 10px;
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
    
    }

    .sale_section{
        flex-direction: column;
        padding: 20px;
        
    }
    .sale_left, .sale_right{
        width: 100%;
       
    }
    .sale_btn{
        margin: 0 20%;
       
    }
    .foteer_logo{

      
    }
   
}