@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&display=swap");
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
       
}


nav{

    background-color: #9376e0;
}
.nav_container{
    max-width: 75rem;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
}
.logo{
    /* max-width: 30%; */
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 10%;
    
}
.menus {
    display: flex;
    gap: 20px;
    align-items: center;
}
.menus li{
    list-style: none;
}
.menus a{
    text-decoration: none;
    color: white;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;    
}
.btn_primary {
    padding: 10px 15px;
    background-color: #e893cf;
    border-radius: 5px;
    border: none;
    color: black;
    font-weight: 700;
}
.login{
    color: steelblue;
    margin-left: 5px;
}

/* Banner */

.banner{
    max-width: 75rem;
    margin: 30px auto 0;
    background-color: lightgrey;
    border-radius: 5px;
}

.banner_container{
    /* border: 2px solid red; */
    display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.banner_left{
    /* border: 2px solid red; */
    width: 50%;
    
}
.banner_right{
    /* border: 2px solid red; */
    width: 50%;
    padding: 10px;
}
.banner_right img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.banner_head{
    margin-bottom: 10px;
    font-size: 50px;
    background-image: linear-gradient(to bottom, #9376e0, #e893cf);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;


}
.banner_text{
    font-size: 35px;
    font-family: "Dancing Script", cursive;
    margin-bottom: 20px;
}
.fa-brands{

   font-size: 2.5rem;
   margin-left: 20px;
}
.buttons button{
    margin-top: 20px;
    margin-left: 15px;
    border: 1px solid rgb(43, 3, 43);
    border-radius: 5px;
    background-color: transparent;
    padding: 10px 15px;
    
}

/* Products_Section */

.products_section{
    text-align: center;
    margin-top: 50px;
}
.products{
    max-width: 75rem;
    margin: 30px auto 0;
    /* border: 2px solid red;  */
    display: grid; 
    grid-template-columns: repeat(4,1fr);
    gap: 15px;

}

.product_icon{
     
     padding: 7px;
     border-radius: 50%; 
     border: none;
     /* margin-left: 2px; */
}
.product_text_with_icon{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.card{
    /* width: 25%; */
    /* border: 2px solid red;   */
    padding: 10px;
    background-color: rgba(112, 128, 144, 0.253);
    box-shadow: 2px 2px 4px black;
    border-radius: 10px;


}
.card img{
    width: 100%;
}
.products_text{
    font-family: "Lato", sans-serif;
    font-size: 0.8rem;
    font-weight: 550;
    margin-top: 20px;
    margin-bottom: 10px;
}


/* Sale_Section */

.sale_left, .sale_right{

          width: 50%;
          /* border: 2px solid red; */
}

.sale_left{
    display: flex;
    justify-content: center;
    align-content: center;
    
}
.sale_left img{

    width: 70%;
    height: 70%;
}

.sale_section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 80px;
    background-color: #382863;
    margin-top: 60px;
    position: relative;
    
}
.sale_btn{
    padding: 30px;
    margin: 0 30%;
}

.sale{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: absolute;
    left: 33%;
    
}

/* Customer Review Section */

.review_section{
    text-align: center;
    margin-top: 40px;
}
.review_container{
    max-width: 75rem;
    margin: 0 auto;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 50px;
    
}
.sale_card{
    /* width: 5%; */
    /* border: 2px solid red; */
    flex-basis: 300px;
    padding: 20px;
    background-color: #E893CF;
    border-radius: 8px;

}
.sale_card p{
    margin-top: 10px;
    text-align: left;
}
.sale_card img{
    width: 20%;
}
.sale_card_top{
    display: flex;
    align-items: center;
    gap: 25px;
}

/* Footer */

.footer_container{
    background-color: #9376;
}